*{
    margin: 0;
    top: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
/* ------nav css start------ */
nav{
    background-color: #FFFFFF;
}
.container{
    max-width: 1750px;
}
.nav-link{
    color: #000000;
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
    margin-left: 43px;
    transition: 0.4s;

}
.nav-link:hover{
    color: #5E3BEE;

}
.nav-btn{
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
    color: #5E3BEE;
    padding: 18px 30px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 2px solid #5E3BEE;
    transition: 0.4s;
}
.nav-btn:hover{
    background-color: #5E3BEE;
    color: #FFFFFF;
}
/* ------nav css end------ */
/* ------banner css start------ */
#banner{
    background-color: #F5FCFF;
    padding-bottom: 133px;
}
#banner h5{
    margin-top: 234px;
    font-weight: 600;
}
#banner h1{
    margin-top: 22px;
    color: #282938;
    font-weight: 700;
    font-size: 75px;
}
#banner h1 span{
    color: #5E3BEE;
}
#banner p{
    margin-top: 22px;
    color: #1C1E53;
    font-weight: 400;
    font-size: 24px;
    width: 621px;
}
.bannerimg{
    margin-top: 133px;
}
.bannerbtn{
    margin-top: 53px;
    padding: 18px 25px;
    background-color: #5E3BEE;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    border-radius: 5px;
    border: 2px solid #5E3BEE;
    transition: 0.4s;
}
.bannerbtn:hover{
    background-color: #FFFFFF;
    color: #5E3BEE;
}
/* ------banner css end------ */
/* ------skill css start------ */
#skill h5{
    margin-top: 148px;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    color: #282938;
}
#skill h1{
    margin-top:22px ;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    color: #282938;
}
.skill-box{
    width: 405px;
    background-color:#F5FCFF;
    border-radius: 10px;
    border: none;
    margin-top: 106px;
    margin-bottom: 150px;
    padding: 32px;
}
.skill-box h2{
    color: #282938;
    font-weight: 700;
    font-size: 32px;
    line-height: 140%;
}
.skill-box p{
    color: #1C1E53;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    margin-top: 22px; 
}
/* ------skill css end------ */
/* ------about css start------ */

.aboutimg{
    width: 813px;
    margin-top: 133px;
    padding-bottom: 133px;
}
#about h6{
    margin-top: 430px;
    color: #282938;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    margin-left: 75px;
}
#about h1{
    margin-top: 10px;
    color: #282938;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    margin-left: 75px;
}
#about p{
    margin-top: 32px;
    color: #1C1E53;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    width: 821px;
    margin-left: 75px;
}
/* ------about css end------ */
/* ------portfolio css start------ */
#portfolio h6{
    margin-top: 74px;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    color: #282938;
}
#portfolio h3{
    margin-top: 22px;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    color: #282938;
}
.portfoliobtn{
    text-decoration: none;
    display: block;
    width: 251px;
    padding: 22px;
    background-color: #E62872;
    margin-left: 210px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    border-radius: 10px;
    margin-top: 75px;
}
.portfoliocard{
    margin-top: 106px;
    margin-bottom: 150px;
}
.portfoliocard h5{
    color: #282938;
    font-weight: 700;
    font-size: 32px;
    line-height: 140%;
}
.portfoliocard p{
    color: #1C1E53;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
}
.view{
    display: block;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    position: relative;
}
.view::after{
    content: '';
    margin-top: 10px;
    width: 0px;
    background-color: #5E3BEE;
    height: 3px;
    margin-bottom: 32px;
    top:20px;
    left: 63%;
    transform: translateX(-50%);
    transition: .4s;
    position: absolute;
}
.view:hover::after{
    width: 198px;
}
/* ------portfolio css end------ */
/* ------customer css start------ */
#customer{
    background-color: #F5FCFF;
    padding-bottom: 197px;
}
#customer h5{
    color: #282938;
    padding-top: 150px;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
}
#customer h1{
    color: #282938;
    margin-top: 22px;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
}
.customer_box{
    width: 555px;
    border: 2px solid #006B6A;
    border-radius: 8px;
    padding: 42px;
    margin-top: 106px;
}
.customer_box p{
    color: #1C1E53;
    margin-top: 42px;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    width: 479px;
}
.Avatar{
    margin-top: 42px;
    
}
.customer_box h2{
    margin-top: 70px;
    color: #282938;
    font-weight: 22px;
    font-weight: 600;
    line-height: 150%;
}
.customer_box h3{
    color: #1C1E53;
    font-weight: 22px;
    font-weight: 400;
    line-height: 150%;
}
/* ------customer css end------ */
/* ------contact css start------ */
#contact{
    text-align: center;
}
#contact h5{
    color: #282938;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    margin-top: 52px;
}
#contact h1{
    color: #282938;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    margin-top: 22px;
}
#contact p{
    color: #1C1E53;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    margin-top: 32px;
}
.first{
    width: 496px;
    margin-left: 340px;
    border: 2px solid #5E3BEE;
    border-radius: 8px;
    height: 64px;
}
.last{
    width: 496px;
    margin-right: 340px;
    border: 2px solid #5E3BEE;
    border-radius: 8px;
    height: 64px;
}
#contact h6{
    margin-left: -730px;
    color: #282938;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    margin-top: 64px;
}
#contact h4{
    color: #282938;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    margin-top: 64px;
    margin-left: -44px;
}
#contact .email{
    margin-left: -90px;
}
#contact .phone{
    margin-right: -40px;
}
/* ------contact css end------ */
